node_modules/
dist/
dist-ssr/
*.local
.npm
.eslintcache

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.pytest_cache/
.python-version
.mypy_cache/

.env
.env.development
.env.production
.env.local
.env.*.local

.vscode/
.history/
*.code-workspace
.idea/
*~
.DS_Store
Thumbs.db
desktop.ini

*.sqlite3
*.db
logs/
*.log